body{
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
}
.font-1{
    font-family: 'Montserrat', sans-serif;
color: hsl(228, 12%, 48%);
}

.font-2{
    font-family: 'Fraunces', serif;
   color: hsl(158, 36%, 37%);
}
.fonts{
    font-weight:700;
    
    
}